[server]
host = "0.0.0.0"
ws_port = 5200
http_port = 8080
timeout_ms = 200000
enable_geo = true

[auth]
deadline_ms = 1500

[logging]
level = "debug"
json_format = false

[webhook]
enabled = false
url = "https://example.com/webhook"
timeout_ms = 3000000
secret = "xxx"

[amap]
key = "f18fcb3090a46d91b99c81d4aa71b4e3"


[quic]
enabled = 1
host = "0.0.0.0"
port = 5201
tls_cert = "certs/server.crt"
tls_key = "certs/server.key"

[storage]
path = "./data/v-connect-im-node-local"

[cluster]
peers = ""

[plugins]
trace_enabled = 0
trace_log_payload = 0
bridge_enabled = 1
bridge_callback_timeout_ms = 1500
sensitive_words = []
