[package]
name = "vgo-workspace"
version = "0.1.0"
edition = "2021"
publish = false

[workspace]
members = ["v", "v-auth-center", "v-macros"]

resolver = "2"

[[example]]
name = "config_example"
path = "examples/config_example.rs"

[[example]]
name = "db_sqlite"
path = "examples/db/sqlite/main.rs"

[[example]]
name = "db_mysql"
path = "examples/db/mysql/main.rs"

[[example]]
name = "db_postgresql"
path = "examples/db/postgresql/main.rs"


[dependencies]
anyhow = "1"
tokio = { version = "1", features = ["full"] }
v = { path = "./v" }
v-macros = { path = "./v-macros" }
sqlx = { version = "0.8.6", features = [
    "runtime-tokio-rustls",
    "sqlite",
    "mysql",
    "postgres",
    "macros",
    "any",
    "chrono",
    "uuid",
    "json",
] }
serde = { version = "1", features = ["derive"] }
async-trait = "0.1"
chrono = { version = "0.4", features = ["serde"] }
serde_json = "1"
